Demographics and Employment in the US
==============

In the wake of the Great Recession of 2009, there has been a good deal of focus on employment statistics, 
one of the most important metrics policymakers use to gauge the overall strength of the economy. In the United 
States, the government measures unemployment using the Current Population Survey (CPS), which collects demographic
and employment information from a wide range of Americans each month. In this exercise, we will employ the topics reviewed in the lectures as well as a few new techniques using the September 2013 version of this rich, nationally representative dataset (available [online](http://thedataweb.rm.census.gov/ftp/cps_ftp.html)).

The observations in the dataset represent people surveyed in the September 2013 CPS who actually completed a survey. While the full dataset has 385 variables, in this exercise we will use a more compact version of the dataset, [CPSData.csv](https://d37djvu3ytnwxt.cloudfront.net/asset-v1:MITx+15.071x_3+1T2016+type@asset+block/CPSData.csv), which has the following variables:

* **PeopleInHousehold**: The number of people in the interviewee's household.

* **Region**: The census region where the interviewee lives.

* **State**: The state where the interviewee lives.

* **MetroAreaCode**: A code that identifies the metropolitan area in which the interviewee lives (missing if the interviewee does not live in a metropolitan area). The mapping from codes to names of metropolitan areas is provided in the file [MetroAreaCodes.csv](https://d37djvu3ytnwxt.cloudfront.net/asset-v1:MITx+15.071x_3+1T2016+type@asset+block/MetroAreaCodes.csv).

* **Age**: The age, in years, of the interviewee. 80 represents people aged 80-84, and 85 represents people aged 85 and higher.

* **Married**: The marriage status of the interviewee.

* **Sex**: The sex of the interviewee.

* **Education**: The maximum level of education obtained by the interviewee.

* **Race**: The race of the interviewee.

* **Hispanic**: Whether the interviewee is of Hispanic ethnicity.

* **CountryOfBirthCode**: A code identifying the country of birth of the interviewee. The mapping from codes to names of countries is provided in the file [CountryCodes.csv](https://d37djvu3ytnwxt.cloudfront.net/asset-v1:MITx+15.071x_3+1T2016+type@asset+block/CountryCodes.csv).

* **Citizenship**: The United States citizenship status of the interviewee.

* **EmploymentStatus**: The status of employment of the interviewee.

* **Industry**: The industry of employment of the interviewee (only available if they are employed).

### Problem 1.1 - Loading and Summarizing the Dataset

Load the dataset from CPSData.csv into a data frame called CPS, and view the dataset with the summary() and str() commands.

How many interviewees are in the dataset?

In [18]:
import pandas as pd
import math
import numpy as np

CPS = pd.read_csv("CPSData.csv")
CPS.shape

(131302, 14)

So we have 131302 observations of 14 variables.

### Problem 1.2 - Loading and Summarizing the Dataset

Among the interviewees with a value reported for the Industry variable, what is the most common industry of employment? Please enter the name exactly how you see it.

In [20]:
CPS.describe(include='all')

,PeopleInHousehold,Region,State,MetroAreaCode,Age,Married,Sex,Education,Race,Hispanic,CountryOfBirthCode,Citizenship,EmploymentStatus,Industry
count,131302.000000,131302,131302,97064.000000,131302.000000,105964,131302,105964,131302,131302.000000,131302.000000,131302,105513,66242
unique,NaN,4,51,NaN,NaN,5,2,8,6,NaN,NaN,3,5,14
top,NaN,South,California,NaN,NaN,Married,Female,High school,White,NaN,NaN,"Citizen, Native",Employed,Educational and health services
freq,NaN,41502,11570,NaN,NaN,55509,67481,30906,105921,NaN,NaN,116639,61733,15017
mean,3.284276,NaN,NaN,35074.709264,38.829226,NaN,NaN,NaN,NaN,0.139328,82.684079,NaN,NaN,NaN
std,1.700173,NaN,NaN,16551.637597,22.897130,NaN,NaN,NaN,NaN,0.346289,75.476511,NaN,NaN,NaN
min,1.000000,NaN,NaN,10420.000000,0.000000,NaN,NaN,NaN,NaN,0.000000,57.000000,NaN,NaN,NaN
25%,2.000000,NaN,NaN,21780.000000,19.000000,NaN,NaN,NaN,NaN,0.000000,57.000000,NaN,NaN,NaN
50%,3.000000,NaN,NaN,34740.000000,39.000000,NaN,NaN,NaN,NaN,0.000000,57.000000,NaN,NaN,NaN
75%,4.000000,NaN,NaN,41860.000000,57.000000,NaN,NaN,NaN,NaN,0.000000,57.000000,NaN,NaN,NaN
max,15.000000,NaN,NaN,79600.000000,85.000000,NaN,NaN,NaN,NaN,1.000000,555.000000,NaN,NaN,NaN

From the ```describe``` function above we see the most common Industry is "Educational and health services".

### Problem 1.3 - Loading and Summarizing the Dataset

Recall from the homework assignment "The Analytical Detective" that you can call the ```sort()``` function on the output of the ```table()``` function to obtain a sorted breakdown of a variable. For instance, ```sort(table(CPS$Region))``` sorts the regions by the number of interviewees from that region.

Which state has the fewest interviewees?
Which state has the largest number of interviewees?

**Note**: In Pyton (using a pandas dataframe) we can use the ```value_counts()``` which gives us an already sorted output.

In [22]:
CPS["State"].value_counts()

California              11570
Texas                    7077
New York                 5595
Florida                  5149
Pennsylvania             3930
Illinois                 3912
Ohio                     3678
Maryland                 3200
Minnesota                3139
Michigan                 3063
Virginia                 2953
Colorado                 2925
Connecticut              2836
Georgia                  2807
Wisconsin                2686
New Hampshire            2662
North Carolina           2619
New Jersey               2567
Iowa                     2528
Washington               2366
Maine                    2263
Delaware                 2214
Rhode Island             2209
Missouri                 2145
Hawaii                   2099
Indiana                  2004
South Dakota             2000
Massachusetts            1987
Nebraska                 1949
Oregon                   1943
Kansas                   1935
Vermont                  1890
Nevada                   1856
Utah                     1842
Kentucky                 1841
District of Columbia     1791
Tennessee                1784
South Carolina           1658
North Dakota             1645
Wyoming                  1624
Alaska                   1590
Arizona                  1528
Oklahoma                 1523
Idaho                    1518
Louisiana                1450
Arkansas                 1421
West Virginia            1409
Alabama                  1376
Mississippi              1230
Montana                  1214
New Mexico               1102
Name: State, dtype: int64

### Problem 1.4 - Loading and Summarizing the Dataset

What proportion of interviewees are citizens of the United States?

In [55]:
CPS["Citizenship"].value_counts(normalize=True)

Citizen, Native         0.888326
Non-Citizen             0.057806
Citizen, Naturalized    0.053868
Name: Citizenship, dtype: float64

### Problem 1.5 - Loading and Summarizing the Dataset

The CPS differentiates between race (with possible values American Indian, Asian, Black, Pacific Islander, White, or Multiracial) and ethnicity. A number of interviewees are of Hispanic ethnicity, as captured by the Hispanic variable. For which races are there at least 250 interviewees in the CPS dataset of Hispanic ethnicity? (Select all that apply.)

In [36]:
CPS["Hispanic"].groupby(CPS["Race"]).value_counts()

Race
American Indian   0     1129
                  1      304
Asian             0     6407
                  1      113
Black             0    13292
                  1      621
Multiracial       0     2449
                  1      448
Pacific Islander  0      541
                  1       77
White             0    89190
                  1    16731
dtype: int64

---------------

### Problem 2.1 - Evaluating Missing Values

Which variables have at least one interviewee with a missing (NA) value? (Select all that apply.)

In [37]:
CPS.describe(include='all')

,PeopleInHousehold,Region,State,MetroAreaCode,Age,Married,Sex,Education,Race,Hispanic,CountryOfBirthCode,Citizenship,EmploymentStatus,Industry
count,131302.000000,131302,131302,97064.000000,131302.000000,105964,131302,105964,131302,131302.000000,131302.000000,131302,105513,66242
unique,NaN,4,51,NaN,NaN,5,2,8,6,NaN,NaN,3,5,14
top,NaN,South,California,NaN,NaN,Married,Female,High school,White,NaN,NaN,"Citizen, Native",Employed,Educational and health services
freq,NaN,41502,11570,NaN,NaN,55509,67481,30906,105921,NaN,NaN,116639,61733,15017
mean,3.284276,NaN,NaN,35074.709264,38.829226,NaN,NaN,NaN,NaN,0.139328,82.684079,NaN,NaN,NaN
std,1.700173,NaN,NaN,16551.637597,22.897130,NaN,NaN,NaN,NaN,0.346289,75.476511,NaN,NaN,NaN
min,1.000000,NaN,NaN,10420.000000,0.000000,NaN,NaN,NaN,NaN,0.000000,57.000000,NaN,NaN,NaN
25%,2.000000,NaN,NaN,21780.000000,19.000000,NaN,NaN,NaN,NaN,0.000000,57.000000,NaN,NaN,NaN
50%,3.000000,NaN,NaN,34740.000000,39.000000,NaN,NaN,NaN,NaN,0.000000,57.000000,NaN,NaN,NaN
75%,4.000000,NaN,NaN,41860.000000,57.000000,NaN,NaN,NaN,NaN,0.000000,57.000000,NaN,NaN,NaN
max,15.000000,NaN,NaN,79600.000000,85.000000,NaN,NaN,NaN,NaN,1.000000,555.000000,NaN,NaN,NaN

### Problem 2.2 - Evaluating Missing Values

Often when evaluating a new dataset, we try to identify if there is a pattern in the missing values in the dataset. We will try to determine if there is a pattern in the missing values of the Married variable. The function `is.na(CPS$Married)` returns a vector of TRUE/FALSE values for whether the Married variable is missing. We can see the breakdown of whether Married is missing based on the reported value of the Region variable with the function `table(CPS$Region, is.na(CPS$Married))`. Which is the most accurate:

In [53]:
[pd.isnull(CPS["Married"]).groupby(CPS["Region"]).value_counts(),
 pd.isnull(CPS["Married"]).groupby(CPS["Sex"]).value_counts(),
 pd.isnull(CPS["Married"]).groupby(CPS["Age"]).value_counts(),
 pd.isnull(CPS["Married"]).groupby(CPS["Citizenship"]).value_counts()]

[Region
 Midwest    False    24609
            True      6075
 Northeast  False    21432
            True      4507
 South      False    33535
            True      7967
 West       False    26388
            True      6789
 dtype: int64, Sex
 Female  False    55264
         True     12217
 Male    False    50700
         True     13121
 dtype: int64, Age
 0    True     1283
 1    True     1559
 2    True     1574
 3    True     1693
 4    True     1695
 5    True     1795
 6    True     1721
 7    True     1681
 8    True     1729
 9    True     1748
 10   True     1750
 11   True     1721
 12   True     1797
 13   True     1802
 14   True     1790
 15   False    1795
 16   False    1751
 17   False    1764
 18   False    1596
 19   False    1517
 20   False    1398
 21   False    1525
 22   False    1536
 23   False    1638
 24   False    1627
 25   False    1604
 26   False    1643
 27   False    1657
 28   False    1736
 29   False    1645
               ...
 52   False    1935
 53   False    1994
 54   False    1912
 55   False    1895
 56   False    1935
 57   False    1827
 58   False    1874
 59   False    1758
 60   False    1746
 61   False    1735
 62   False    1595
 63   False    1596
 64   False    1519
 65   False    1569
 66   False    1577
 67   False    1227
 68   False    1130
 69   False    1062
 70   False    1195
 71   False    1031
 72   False     941
 73   False     896
 74   False     842
 75   False     763
 76   False     729
 77   False     698
 78   False     659
 79   False     661
 80   False    2664
 85   False    2446
 dtype: int64, Citizenship
 Citizen, Native       False    91956
                       True     24683
 Citizen, Naturalized  False     6910
                       True       163
 Non-Citizen           False     7098
                       True       492
 dtype: int64]

**Answer**: The Married variable being missing is related to Age.

### Problem 2.3 - Evaluating Missing Values

As mentioned in the variable descriptions, MetroAreaCode is missing if an interviewee does not live in a metropolitan area. Using the same technique as in the previous question, answer the following questions about people who live in non-metropolitan areas.

How many states had all interviewees living in a non-metropolitan area (aka they have a missing MetroAreaCode value)? For this question, treat the District of Columbia as a state (even though it is not technically a state).

How many states had all interviewees living in a metropolitan area? Again, treat the District of Columbia as a state.

In [54]:
pd.isnull(CPS["MetroAreaCode"]).groupby(CPS["State"]).value_counts()

State
Alabama               False     1020
                      True       356
Alaska                True      1590
Arizona               False     1327
                      True       201
Arkansas              False      724
                      True       697
California            False    11333
                      True       237
Colorado              False     2545
                      True       380
Connecticut           False     2593
                      True       243
Delaware              False     1696
                      True       518
District of Columbia  False     1791
Florida               False     4947
                      True       202
Georgia               False     2250
                      True       557
Hawaii                False     1576
                      True       523
Idaho                 False      761
                      True       757
Illinois              False     3473
                      True       439
Indiana               False     1420
                      True       584
Iowa                  False     1297
                      True      1231
                               ...
Ohio                  False     2754
                      True       924
Oklahoma              False     1024
                      True       499
Oregon                False     1519
                      True       424
Pennsylvania          False     3245
                      True       685
Rhode Island          False     2209
South Carolina        False     1139
                      True       519
South Dakota          True      1405
                      False      595
Tennessee             False     1149
                      True       635
Texas                 False     6060
                      True      1017
Utah                  False     1455
                      True       387
Vermont               True      1233
                      False      657
Virginia              False     2367
                      True       586
Washington            False     1937
                      True       429
West Virginia         True      1065
                      False      344
Wisconsin             False     1882
                      True       804
Wyoming               True      1624
dtype: int64